<lib-toastify-toast-container
  [position]="'top-right'"
  [hideProgressBar]="true"
  [iconLibrary]="'material'"
  [transition]="'slide'"
></lib-toastify-toast-container>

<div class="container">
  <form class="row g-3" [formGroup]="user_data">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="inputname"
        formControlName="Name"
      />
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail4"
        formControlName="Email"
      />
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input
        type="text"
        class="form-control"
        id="inputPassword4"
        formControlName="Password"
        autocomplete="off"
      />
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="City Name"
        formControlName="Address"
      />
    </div>

    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="gridCheck"
          formControlName="Accept_Conditions"
        />
        <label class="form-check-label" for="gridCheck">
          Terms & Condition
        </label>
      </div>
    </div>
    <div class="col-12">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="user_edit_data_submit()"
      >
        update
      </button>
      <button
        style="margin-left: 8px"
        (click)="back_to()"
        class="btn btn-warning"
      >
        back
      </button>
    </div>
  </form>
</div>
